
@use 'theme';

.card {

    border-radius: 1rem;
    padding: 0px 1rem;
    margin: 2rem 0px;

    &--light {
        color: theme.$crust;
        background-color: theme.$text;
    }

    &--dark {
        color: theme.$text;
        background-color: theme.$base;
    }

    &__title {
    
    }

    &__body {

    }
}